---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout title={frontmatter.title}>
  {frontmatter.description && <p>{frontmatter.description}</p>}
  {frontmatter.publishDate && <p>Published on: {frontmatter.publishDate.toDateString()}</p>}
  <slot />
</BaseLayout>
